{% extends 'layouts/default.html.twig' %}

{% block main %}
    {% if session().hasFlash('success') %}
        <div class="alert alert-success">
            {% for message in session().getFlash('success') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="bg-body-tertiary p-5 rounded">
        <h2> {{ post.title }}!!!</h2>
        <p>{{ post.content }}</p>
    </div>
{% endblock %}
